.padding(@value-top; @value-bottom) {
  padding-top: @value-top;
  padding-bottom: @value-bottom;
}

.container() {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
}

.container-tablet() {
  width: 768px;
  padding: 0 50px;
  margin: 0 auto;
}

.container-desktop() {
  width: 1150px;
  padding: 0 50px;
  margin: 0 auto;
}
