.contacts {
  .padding(44px; 39px);
}

.contacts__wrapper {
  .container();
  padding-left: 29px;
}

.contacts__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 42px;
}

.contacts__table-row {
  vertical-align: top;
  padding-bottom: 40px;
}

.contacts__parameter {
  width: 77px;
}

.contacts__map {
  margin-top: 42px;
  margin-bottom: 39px;
  width: 100%;
  background-color: @light-pink;
}

.contacts__wrapper-button {
  .container();
}
