.contacts {
  .padding(44px; 39px);
}

.contacts__wrapper {
  .container();
  padding-left: 29px;
}

.contacts__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 42px;
}

.contacts__table-row {
  vertical-align: top;
  padding-bottom: 40px;
}

.contacts__parameter {
  width: 77px;
}

.contacts__map {
  margin-top: 42px;
  margin-bottom: 39px;
  width: 100%;
  background-color: @light-pink;
}

.contacts__wrapper-button {
  .container();
}

@media (min-width: @tablet-width) {
  .contacts {
    .padding(87px; 57px);
  }

  .contacts__wrapper {
    .container-tablet();
  }

  .contacts__title {
    margin-bottom: 65px;
  }

  .contacts__info--wrapper {
    display: flex;
  }

  .contacts__write {
    width: 230px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    .container-desktop();
    .padding (94px; 55px);
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__wrapper {
    padding: 0;
    margin: 0;
    padding-left: 175px;
    width: 525px;
  }

  .contacts__info--wrapper {
    display: block;
  }

  .contacts__map {
    margin: 0;
    width: 525px;
  }

  .contacts__wrapper-button {
    margin: 0;
    padding: 0;
    transform: translate(175px, -100%);
  }
}
