.intro-list__link {
  display: block;
  .container();
  .padding(30px; 30px);
  width: 100%;
  font-size: 19px;
  line-height: 24px;
  color: white;

  &--interior {
    background-color: @light-green;
  }

  &--toys {
    background-color: @light-green-dark;
  }
}

@media (min-width: @tablet-width) {
  .intro-list {
    display: flex;
  }

  .intro-list__item {
    width: 50%;
  }

  .intro-list__link {
    .padding(35px; 34px);
    padding-left: 36px;
  }
}
