.intro-list__link {
  display: inline-block;
  .container();
  .padding(30px; 30px);
  font-size: 19px;
  line-height: 24px;
  color: white;

  &--interior {
    background-color: @light-green;
  }

  &--toys {
    background-color: @light-green-dark;
  }
}
