.intro {
  padding-top: 76px;
  font-weight: bold;
  background: @grey url("../../img/hero-mobile@1x.jpg") no-repeat center -15px;
}

.intro__title {
  margin: 0 35px 120px;
  margin-bottom: 120px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}
