.order__title {
  margin: 0;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: @black;
}

.order__wrapper {
  .container();
  .padding(22px; 55px);
}

.order__text {
  margin: 0;
  margin-bottom: 24px;
  font-size: 13px;
}

.order__field-group {
  margin: 0;
  padding: 0;
  border: none;
}

.order__legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 25px;
  min-width: 63px;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: @light-green;

  &--color {
    margin-bottom: 24px;
  }

  &--phone {
    margin-bottom: 9px;
  }

  &--mail {
    margin-bottom: 10px;
  }

  &::after {
    content: "";
    display: block;
    height: 1px;
    width: 198px;
    background-color: @light-green;
  }

  &--mail::after {
    width: 179px;
  }
}

.order__list {
  &--phone,
  &--mail {
    position: relative;
  }
}

.order__item {
  padding-top: 9px;
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 41px;
  }

  &--color {
    padding-bottom: 5px;
    margin-bottom: 23px;

    &:last-child {
      margin-bottom: 34px;
    }
  }

  &--name {
    padding: 0;
    padding-top: 1px;
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 32px;
    }
  }
}

.order__label {
  display: inline-block;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: @black;
}

.order__label--checkbox {
  position: relative;
  padding-left: 62px;
}

.order__label--type::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 0;
  height: 40px;
  width: 40px;
  border: 2px solid @greyish-brown;
  border-radius: 50%;
}

.order__field-radio:checked + .order__label--type::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 12px;
  height: 16px;
  width: 16px;
  border: 8px solid @light-green-form;
  border-radius: 50%;
}

.order__label--color::before {
  content: "";
  position: absolute;
  top: -11px;
  left: 0;
  height: 39px;
  width: 40px;
  border: 2px solid @greyish-brown;
}

.order__input-color:checked + .order__label--color::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: 22px 16px;
  background-position: center;
}

.order__label--type:hover::before,
.order__label--color:hover::before,
.order__field-radio:focus + .order__label--type::before,
.order__input-color:focus + .order__label--color::before {
  border-color: @light-green-form;
}

.order__label--type:active::before,
.order__label--color:active::before {
  border-color: @greyish-brown;
  opacity: 0.3;
}

.order__field-radio:disabled + .order__label--type,
.order__input-color:disabled + .order__label--color {
  pointer-events: none;

  &::before {
    opacity: 0.6;
    background-color: @grey;
  }
}

.order__field {
  width: 100%;
  font-size: 19px;
  line-height: 18px;
  color: @greyish-brown;

  &--name,
  &--phone,
  &--mail {
    height: 49px;
    padding-bottom: 7px;
    border: none;
    border-bottom: 2px solid @black;
  }

  &--phone,
  &--mail {
    padding-right: 40px;
    margin-bottom: 32px;
  }

  &--phone {
    font-size: 19px;
  }

  &--comments {
    padding: 14px 14px 16px;
    border: 2px solid @greyish-brown;
  }

  &:hover,
  &:active {
    border-color: @light-green-form;
  }
}

.order__field::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: @grey-form;
}

.order__icon {
  position: absolute;
  top: -4px;
  opacity: 0.2;

  &--phone {
    right: 8px;
  }

  &--mail {
    right: -3px;
  }
}

.order__field:hover + .order__icon,
.order__field:active + .order__icon {
  fill: @light-green-form;
  opacity: 1;
}

.order__note {
  margin: 10px 0 31px -1px;
  font-size: 14px;
  line-height: 16px;
}

.order__submit {
  padding-top: 13px;
  padding-bottom: 15px;
}

@media (min-width: @tablet-width) {
  .order__wrapper-title {
    padding-top: 93px;
    padding-bottom: 80px;
    margin-top: -41px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-size: 770px 24px;
    background-repeat: repeat-x;
    background-position: left 0 bottom -14px;
  }

  .order__title {
    .title-tablet();
  }

  .order__wrapper {
    width: 100%;
    padding: 74px 0 50px;
  }

  .order__text {
    .container-tablet();
    margin-bottom: 7px;
    font-size: 17px;
    line-height: 30px;
  }

  .order__field-group {
    padding: 50px 50px 14px;
    display: flex;
    align-items: baseline;
    border: none;

    &--color {
      padding-bottom: 16px;
    }

    &--name {
      .padding(40px; 4px);
    }

    &--phone {
      .padding(54px; 0);
    }

    &--mail {
      .padding(0; 22px);
    }
  }

  .order__field-wrapper {
    background-color: @grey-bg;
  }

  .order__legend {
    display: block;
    min-width: 167px;

    &::after {
      display: none;
    }
  }

  .order__list {
    flex-grow: 1;

    &--color {
      min-width: 500px; /*IE11*/
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .order__item {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding-top: 15px;
    padding-bottom: 13px;
    margin-bottom: 24px;

    &--color {
      padding-bottom: 18px;
      min-width: 238px;
    }

    &--name {
      padding-bottom: 14px;
      margin-bottom: 0;
    }
  }

  .order__label {
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 0.55px;

    &--checkbox {
      padding-left: 81px;
    }

    &--color {
      &::before {
        top: -15px;
        height: 52px;
        width: 54px;
      }
    }
  }

  .order__label--name {
    margin-right: 25px;
  }

  .order__label--type::before {
    content: "";
    position: absolute;
    top: -17px;
    left: 0;
    height: 52px;
    width: 52px;
    border: 2px solid @greyish-brown;
    border-radius: 50%;
  }

  .order__field-radio:checked + .order__label--type::after {
    content: "";
    position: absolute;
    top: -2px;
    left: 15px;
    height: 20px;
    width: 20px;
    border: 11px solid #62d1ba;
  }

  .order__input-color:checked + .order__label--color::before {
    background-size: 33px 22px;
  }

  .order__field {
    &--name,
    &--phone,
    &--mail {
      height: 48px;
      padding-left: 17px;
      background-color: transparent;
    }

    &--name {
      height: 47px;
    }
  }

  .order__field--phone,
  .order__field--mail {
    margin-bottom: 28px;
  }

  .order__field::placeholder {
    font-size: 19px;
  }

  .order__icon {
    &--phone {
      top: 7px;
      right: 26px;
    }

    &--mail {
      top: 7px;
      right: 15px;
    }
  }

  .order__add-group {
    .container-tablet();
    padding-top: 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .order__submit {
    width: 230px;
    .padding(17px; 15px);
    order: -1;
    font-size: 17px;
    line-height: 16px;
  }

  .order__note {
    margin: 0;
    margin-top: -4px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .order__wrapper-title {
    .padding(93px; 121px);
    margin-top: -41px;
    background-size: 1150px 34px;
    background-repeat: repeat-x;
    background-position: left -57px bottom;
  }

  .order__title {
    .title-desktop();
  }

  .order__wrapper {
    width: 100%;
    padding-top: 104px;
  }

  .order__text {
    width: 1150px;
    padding: 0 225px;
  }

  .order__field-group {
    width: 1150px;
    margin: 0 auto;
    padding: 50px 114px 13px;

    &--color {
      padding-left: 110px;
      padding-bottom: 16px;
    }

    &--name {
      padding-left: 111px;
      padding-top: 40px;
      padding-bottom: 4px;
    }

    &--phone {
      padding-left: 112px;
      padding-top: 54px;
      padding-bottom: 0;
    }

    &--mail {
      padding-top: 0;
      padding-left: 112px;
      padding-bottom: 22px;
      align-items: flex-start;
    }

    &--comments {
      padding-left: 112px;
      padding-bottom: 49px;
    }
  }

  .order__legend {
    min-width: 111px;

    &--color {
      min-width: 115px;
    }

    &--name {
      min-width: 116px;
    }

    &--mail {
      margin-top: 16px;
    }

    &--comments {
      min-width: 113px;
    }
  }

  .order__list {
    &--color {
      justify-content: flex-start;
    }

    &--phone,
    &--mail {
      margin-right: 112px;
    }
  }

  .order__item--color {
    min-width: 263px;
  }

  .order__item--name {
    margin-right: 112px;
  }

  .order__field--comments {
    width: 700px;
  }

  .order__icon {
    &--phone {
      right: 7px;
    }

    &--mail {
      right: -4px;
    }
  }

  .order__add-group {
    width: 1150px;
    margin: 0 auto;
    padding: 0 225px;
  }
}
