.page-footer {
  background-color: @grey-bg;
}

.page-footer__wrapper {
  .container();
  .padding(25px; 23px);
}

.page-footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    .container-tablet();
    .padding(51px; 51px);
    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__logo:hover path {
    fill: @light-green-hover;
  }

  .page-footer__logo:active path {
    fill-opacity: 0.3;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    .container-desktop();
    .padding(51px; 50px);
  }
}
