.page-footer {
  .padding(25px; 23px);
  background-color: @grey-bg;
}

.page-footer__wrapper {
  .container();
}

.page-footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer {
    .padding(51px; 51px);
  }

  .page-footer__wrapper {
    .container-tablet();
    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__logo:hover path {
    fill: @light-green-hover;
  }

  .page-footer__logo:active path {
    fill-opacity: 0.3;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 100%;
    .max-width();
    padding: 0 4.45%;
  }
}
