.page-header__wrapper {
  position: relative;
  padding-top: 21px;
  text-align: center;
  border-top: 1px solid @grey;
  border-bottom: 1px solid @grey;
}

.page-header__logo {
  display: inline-block;
  margin-left: -2px;
  height: 35px;
  margin-bottom: 22px;

  &:hover:not(.page-header__logo--current-page) {
    opacity: 0.6;
  }

  &:active:not(.page-header__logo--current-page) {
    opacity: 0.3;
  }
}

.page-header__toggle {
  position: absolute;
  top: 28px;
  right: 30px;
  z-index: 2;
  display: block;
  width: 21px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.page-header__no-js .page-header__toggle {
  display: none;
}

.page-header--closed-menu .page-header__toggle::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: @burger-black;
  box-shadow: 0 6px 0 0 @burger-black, 0 12px 0 0 @burger-black;
}

.page-header--opened-menu .page-header__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-menu-close.svg");
}

.page-header__text {
  display: none;
}

@media (max-width: @mobile-width-only) {
  .page-header--closed-menu .user-list {
    display: none;
  }

  .page-header--closed-menu .site-list {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    position: relative;
    z-index: 2;
    background: linear-gradient(to bottom, @white 88px, rgba(68, 68, 68, 0.1) 88px, rgba(68, 68, 68, 0.1) 89px, transparent 89px);
  }

  .page-header__wrapper {
    .container-tablet();
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
    background-color: transparent;
  }

  .page-header__logo {
    padding-top: 22px;
    height: auto;
    margin-bottom: 0;
  }

  .page-header__logo-icon {
    width: 112px;
    height: 46px;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__text {
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 18px;
    order: 3;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    .container-desktop();
  }

  .page-header__logo {
    flex-grow: 1;
    margin: 0;
    padding-top: 8px;
    padding-left: 38px;
    width: 149px;
    height: 72px;
    order: 2;
    text-align: left;
  }

  .page-header__text {
    order: 5;
    padding-top: 16px;
    padding-right: 1px;
  }
}
