.page-header {
  position: relative;
  padding-top: 22px;
  text-align: center;
  border-bottom: 1px solid @grey;
}

.page-header__logo {
  display: inline-block;
  margin-bottom: 22px;
}

.page-header__toggle {
  position: absolute;
}
