.production {
  .padding(29px; 33px);
  margin-top: 30px;
  margin-bottom: 58px;
  border: 1px solid @grey;
}

.production__title {
  margin: 0;
  margin-bottom: 26px;
  padding-left: 90px;
  font-size: 17px;
  line-height: 24px;
  color: @black;
}

.production__wrapper {
  padding: 34px 34px 0;
}

.production__text {
  margin: 0;
  margin-bottom: 29px;
  font-size: 13px;
}

.production__order {
  font-size: 17px;
  line-height: 16px;
}
