.reviews {
  .container();
  padding-bottom: 51px;
}

.reviews__title {
  margin-bottom: 34px;
}

.reviews__item {
  width: 100%;
  margin: 0;
  margin-bottom: 36px;
}

.reviews__text {
  line-height: 30px;
  margin: 0;
  margin-bottom: 40px;
}

.reviews__author-name {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  color: @black;
}

.reviews__author-link {
  font-style: normal;
  font-size: 17px;
  line-height: 30px;
  color: inherit;
}

.reviews__write {
  margin-top: 38px;
}
