.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 62px 16px 57px;
  border-bottom: 1px solid @grey;
}

.social__item {
  margin-bottom: 5px;
}

.social__link {
  &:hover .social__icon {
    fill: @light-green-hover;
  }

  &:active .social__icon {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .social {
    width: 32%;
    padding: 8px 0 0 75px;
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .social {
    width: 20.5%;
  }
}
