.user-list__item {
  .padding(32px; 30px);
  padding-left: 76px;
  text-align: left;
  border-top: 1px solid @grey;
}

.user-list__link {
  font-weight: bold;
  font-size: 17px;
  color: @black;
}

@media (min-width: @tablet-width) {
  .user-list {
    display: flex;
    order: 1;
  }

  .user-list__item {
    .padding(35px; 35px);
    padding-left: 63px;
    text-align: right;
  }
}

@media (min-width: @desktop-width) {
  .user-list {
    order: 3;
  }

  .user-list__item {
    padding-left: 0;
  }
}
