.week-product {
  .padding(27px; 42px);
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: auto 6px;
  background-position: bottom;
}

.week-product__title--wrapper,
.week-product__wrapper {
  .container();
}

.week-product__mark {
  margin: 5px 0 23px;
  font-size: 17px;
  line-height: 20px;
  color: @light-green;
  text-transform: uppercase;
}

.week-product__text {
  margin: 0;
  margin-bottom: 18px;
}

.week-product__info {
  margin-bottom: 28px;
  width: 100%;
  border-collapse: collapse;
  line-height: 20px;
}

.week-product__table-row {
  border-bottom: 1px solid @grey;
}

.week-product__table-cell {
  .padding(9px; 10px);
}

.week-product__parameter {
  width: 37.5%;
}

.week-product__image {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 315px;
}

.week-product__price {
  margin: 24px 0 26px;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
}

.week-product__add-cart {
  font-size: 17px;
}

@media (max-width: @mobile-width-only) {
  .week-product__mark br {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .week-product {
    .padding(43px; 68px);
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: 768px 17px;
    background-position-x: 18px;
  }

  .week-product__title--wrapper {
    display: flex;
    justify-content: space-between;
    width: 768px;
    padding-left: 47px;
    padding-right: 77px;
  }

  .week-product__title {
    .title-tablet();
  }

  .week-product__mark {
    margin: 0;
    margin-top: 11px;
    line-height: 17px;
    text-align: center;
  }

  .week-product__wrapper {
    .container-tablet();
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 48px;
  }

  .week-product__info--wrapper,
  .week-product__price-wrapper {
    width: 43%;
  }

  .week-product__text {
    margin-bottom: 36px;
    font-size: 17px;
    line-height: 30px;
  }

  .week-product__parameter {
    width: 33.7%;
  }

  .week-product__price-wrapper {
    margin-top: -110px;
  }

  .week-product__price {
    margin: 0 auto 34px;
    font-size: 20px;
  }

  .week-product__image {
    margin-top: 8px;
    margin-right: 1px;
    width: 333px;
    height: 404px;
  }

  .week-product__add-cart {
    width: 292px;
    margin-left: -2px;
  }
}

@media (min-width: @desktop-width) {
  .week-product {
    display: flex;
    flex-wrap: wrap;
    .container-desktop();
    .padding(68px; 0);
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: 1050px 25px;
    background-position: 25px bottom;
    background-clip: content-box;
    background-origin: padding-box;
  }

  .week-product__title--wrapper {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: flex-end;
    z-index: 2;
    margin-top: 52px;
    padding-left: 46px;
  }

  .week-product__title {
    .title-desktop();
  }

  .week-product__mark {
    margin-top: 16px;
    margin-right: 53px;
  }

  .week-product__wrapper {
    width: 100%;
    padding: 0;
    z-index: 1;
    background: none;
  }

  .week-product__info--wrapper {
    width: 44%;
    padding-left: 175px;
  }

  .week-product__text {
    margin-bottom: 49px;
  }

  .week-product__info {
    margin-bottom: 110px;
  }

  .week-product__image {
    margin-top: -157px;
    margin-right: 0;
    width: 525px;
    height: 636px;
  }

  .week-product__price-wrapper {
    margin-left: 175px;
    width: 292px;
  }

  .week-product__price {
    margin: 0 0 34px;
  }

  .week-product__add-cart {
    margin: 0 0 97px;
  }
}
